ravewsclient/src/main/resources/META-INF/schema/mdsol-extension.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema    xmlns="http://www.cdisc.org/ns/odm/v1.3" 
  targetNamespace="http://www.cdisc.org/ns/odm/v1.3" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xlink="http://www.w3.org/1999/xlink" 
  xmlns:mdsol="http://www.mdsol.com/ns/odm/metadata" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.mdsol.com/ns/odm/metadata" 
    schemaLocation="mdsol-ns.xsd"/>   

  <xs:redefine schemaLocation="ODM1-3-0.xsd">

    <!--ODM Atrribute Extensions -->
    <xs:attributeGroup name="ODMAttributeExtension">
      <xs:attributeGroup ref="ODMAttributeExtension"/>
      <xs:attribute ref="mdsol:ErrorDescription"/>
    </xs:attributeGroup>

    <!-- ODM Element Extensions -->
    <xs:group name="ODMElementExtension">
      <xs:sequence>
        <xs:group ref="ODMElementExtension"/>
        <xs:element ref="mdsol:CodingDictionaries" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:CodingWorkflows" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:QueueItem" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>

    <!--User extensions metadata-->    
    <xs:attributeGroup name="UserAttributeExtension">
      <xs:attributeGroup ref="UserAttributeExtension"/>
      <xs:attribute ref="mdsol:Active"/>
    </xs:attributeGroup>

    <!--START set added by request from a CRO-->
    <xs:attributeGroup name="LocationAttributeExtension">
      <xs:attributeGroup ref="LocationAttributeExtension"/>
      <xs:attribute ref="mdsol:Active"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="SignatureDefAttributeExtension">
    <xs:attributeGroup ref="SignatureDefAttributeExtension"/>
    <xs:attribute ref="mdsol:Study"/>
    </xs:attributeGroup>

    <!--END set added by request from a CRO-->


    <!--Study extensions metadata-->
    <xs:attributeGroup name="StudyAttributeExtension">
      <xs:attributeGroup ref="StudyAttributeExtension"/>
      <xs:attribute ref="mdsol:ProjectType"/>
      <xs:attribute ref="mdsol:Segment"/>
      <xs:attribute ref="mdsol:StudyOIDType"/>
    </xs:attributeGroup>

    <!-- Study extensions metadata -->
    <xs:group name="StudyElementExtension">
      <xs:sequence>
        <xs:group ref="StudyElementExtension"/>
        <xs:element ref="mdsol:CodingDictionaryRef" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:CodingWorkflowRef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>

    <!--MetaDataVersion extensions metadata-->
    <xs:attributeGroup name="MetaDataVersionAttributeExtension">
      <xs:attributeGroup ref="MetaDataVersionAttributeExtension"/>
      <xs:attribute ref="mdsol:PrimaryFormOID"/>
      <xs:attribute ref="mdsol:DefaultMatrixOID"/>
      <xs:attribute ref="mdsol:SignaturePrompt"/>
      <xs:attribute ref="mdsol:DeleteExisting"/>
    </xs:attributeGroup>
    <xs:group name="MetaDataVersionElementExtension">
      <xs:sequence>        
        <xs:group ref="MetaDataVersionElementExtension"/>
        <xs:element ref="mdsol:LabelDef" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ConfirmationMessage" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:LabSettings" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:CustomFunction" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:group>
    
    <!--SubjectData Attribute Extension-->
    <xs:attributeGroup name="SubjectDataAttributeExtension">
      <xs:attributeGroup ref="SubjectDataAttributeExtension"/>
      <xs:attribute ref="mdsol:SecondarySubjectKey"/>

      <xs:attribute ref="mdsol:Status"/>  <!--Status added by request from a CRO-->
      <xs:attribute ref="mdsol:Overdue"/>
      <xs:attribute ref="mdsol:Touched"/>
      <xs:attribute ref="mdsol:Empty"/>
      <xs:attribute ref="mdsol:Incomplete"/>
      <xs:attribute ref="mdsol:NonConformant"/>
      <xs:attribute ref="mdsol:RequiresSecondPass"/>
      <xs:attribute ref="mdsol:RequiresReconciliation"/>
      <xs:attribute ref="mdsol:RequiresVerification"/>
      <xs:attribute ref="mdsol:Verified"/>
      <xs:attribute ref="mdsol:Frozen"/>
      <xs:attribute ref="mdsol:Locked"/>
      <xs:attribute ref="mdsol:RequiresReview"/>
      <xs:attribute ref="mdsol:PendingReview"/>
      <xs:attribute ref="mdsol:Reviewed"/>
      <xs:attribute ref="mdsol:RequiresAnswerQuery"/>
      <xs:attribute ref="mdsol:RequiresPendingCloseQuery"/>
      <xs:attribute ref="mdsol:RequiresCloseQuery"/>
      <xs:attribute ref="mdsol:StickyPlaced"/>
      <xs:attribute ref="mdsol:Signed"/>
      <xs:attribute ref="mdsol:SignatureCurrent"/>
      <xs:attribute ref="mdsol:RequiresTranslation"/>
      <xs:attribute ref="mdsol:RequiresCoding"/>
      <xs:attribute ref="mdsol:RequiresPendingAnswerQuery"/>
      <xs:attribute ref="mdsol:RequiresSignature"/>
      <xs:attribute ref="mdsol:ReadyForFreeze"/>
      <xs:attribute ref="mdsol:ReadyForLock"/>
    </xs:attributeGroup>

    <!--StudyEventDef extensions metadata -->
    <xs:attributeGroup name="StudyEventDefAttributeExtension">
      <xs:attributeGroup ref="StudyEventDefAttributeExtension"/>
      <xs:attribute ref="mdsol:OrderNumber"/>
      <xs:attribute ref="mdsol:AccessDays"/>
      <xs:attribute ref="mdsol:StartWinDays"/>
      <xs:attribute ref="mdsol:TargetDays"/>
      <xs:attribute ref="mdsol:EndWinDays"/>
      <xs:attribute ref="mdsol:OverDueDays"/>
      <xs:attribute ref="mdsol:CloseDays"/>
    </xs:attributeGroup>
    
    <!--FormDef extensions -->
    <xs:attributeGroup name="FormDefAttributeExtension">
      <xs:attributeGroup ref="FormDefAttributeExtension"/>
      <xs:attribute ref="mdsol:OrderNumber"/>
      <xs:attribute ref="mdsol:Active"/>
      <xs:attribute ref="mdsol:Template"/>
      <xs:attribute ref="mdsol:SignatureRequired"/>
      <xs:attribute ref="mdsol:LogDirection"/>
      <xs:attribute ref="mdsol:DoubleDataEntry"/>
      <xs:attribute ref="mdsol:ConfirmationStyle"/>
      <xs:attribute ref="mdsol:LinkStudyEventOID"/>
      <xs:attribute ref="mdsol:LinkFormOID"/>
    </xs:attributeGroup>
    <xs:group name="FormDefElementExtension">
      <xs:sequence>
        <xs:group ref="FormDefElementExtension"/> 
        <xs:element ref="mdsol:HelpText" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ViewRestrictions" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ViewRestriction" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:EntryRestrictions" minOccurs="0" maxOccurs="1"/>        
        <xs:element ref="mdsol:EntryRestriction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>

    <!--ItemDef extensions metadata -->
    <xs:attributeGroup name="ItemDefAttributeExtension">
      <xs:attributeGroup ref="ItemDefAttributeExtension"/>
      <!--  <xs:attribute ref="mdsol:CodingDictionaryOID" use="optional" />
    <xs:attribute ref="mdsol:CodingDictionaryVersion" use="optional" /> -->
      <xs:attribute ref="mdsol:FieldNumber"/>
      <xs:attribute ref="mdsol:Active"/>
      <xs:attribute ref="mdsol:ControlType"/>
      <xs:attribute ref="mdsol:DateTimeFormat"/>
      <xs:attribute ref="mdsol:AcceptableFileExtensions"/>
      <xs:attribute ref="mdsol:IndentLevel"/>
      <xs:attribute ref="mdsol:SourceDocument"/>
      <xs:attribute ref="mdsol:DefaultValue"/>
      <xs:attribute ref="mdsol:SASFormat"/>
      <xs:attribute ref="mdsol:SASLabel"/>
      <xs:attribute ref="mdsol:QueryFutureDate"/>
      <xs:attribute ref="mdsol:Visible"/>
      <xs:attribute ref="mdsol:TranslationRequired"/>
      <xs:attribute ref="mdsol:ClinicalSignificance"/>
      <xs:attribute ref="mdsol:QueryNonConformance"/>
      <xs:attribute ref="mdsol:OtherVisits"/>
      <xs:attribute ref="mdsol:CanSetItemGroupDate"/>
      <xs:attribute ref="mdsol:CanSetFormDate"/>
      <xs:attribute ref="mdsol:CanSetStudyEventDate"/>
      <xs:attribute ref="mdsol:CanSetSubjectDate"/>
      <xs:attribute ref="mdsol:DoesNotBreakSignature"/>
      <xs:attribute ref="mdsol:VisualVerify"/>
      <xs:attribute ref="mdsol:CodingDictionary"/>
      <xs:attribute ref="mdsol:VariableOID"/>
    </xs:attributeGroup>
    
    <xs:group name="ItemGroupDefElementExtension">
      <xs:sequence>
        <xs:group ref="ItemGroupDefElementExtension"/>
        <xs:element ref="mdsol:Label" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:LabelRef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>
          
    <xs:group name="ItemDefElementExtension">
      <xs:sequence>
        <xs:group ref="ItemDefElementExtension"/> 
        <xs:element ref="mdsol:HeaderText" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:HelpText" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ViewRestrictions" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ViewRestriction" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:EntryRestrictions" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:EntryRestriction" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:ReviewGroups" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="mdsol:ReviewGroup" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:Label" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:CodingRequestDef" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:group>

    <!--CodeList extensions metadata-->
    <xs:attributeGroup name="CodeListItemAttributeExtension">
      <xs:attributeGroup ref="CodeListItemAttributeExtension"/>
      <xs:attribute ref="mdsol:OrderNumber"/>
      <xs:attribute ref="mdsol:Specify"/>
    </xs:attributeGroup>
    <!-- <xs:group name="CodeListRefElementExtension">
      <xs:sequence>
        <xs:group ref="CodeListRefElementExtension"/> 
        <xs:element ref="mdsol:CodingRelationItemRef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>-->
    <!--<xs:group name="ItemDataElementExtension">
      <xs:sequence>
        <xs:group ref="ItemDataElementExtension"/> -->
      <!--<xs:element ref="mdsol:CodedTerm" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mdsol:QueryText" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="ExternalCodeListAttributeExtension">
      <xs:attributeGroup ref="ExternalCodeListAttributeExtension"/>
      <xs:attribute ref="mdsol:DictionaryAlgorithm"/>
    </xs:attributeGroup>-->
    <xs:group name="ItemRefElementExtension">
      <xs:sequence>
        <xs:group ref="ItemRefElementExtension"/>
        <xs:element ref="mdsol:Attribute" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>

    <!--MeasurementUnit extensions metadata-->
    <xs:attributeGroup name="MeasurementUnitAttributeExtension">
      <xs:attributeGroup ref="MeasurementUnitAttributeExtension"/>
      <xs:attribute ref="mdsol:UnitDictionaryName" />
      <xs:attribute ref="mdsol:StandardUnit" />
      <xs:attribute ref="mdsol:ConstantA" />
      <xs:attribute ref="mdsol:ConstantB" />
      <xs:attribute ref="mdsol:ConstantC" />
      <xs:attribute ref="mdsol:ConstantK" />
      <xs:attribute ref="mdsol:OrderNumber" /> 
    </xs:attributeGroup>

    <!--MeasurementUnitRef extensions  metadata-->
    <xs:attributeGroup name="MeasurementUnitRefAttributeExtension">
      <xs:attributeGroup ref="MeasurementUnitRefAttributeExtension"/>
<!--      <xs:attribute ref="mdsol:OrderNumber" /> -->
    </xs:attributeGroup>

    <xs:attributeGroup name="FormDataAttributeExtension">
      <xs:attributeGroup ref="FormDataAttributeExtension"/>
      <xs:attribute ref="mdsol:LaboratoryRef"/>
      <xs:attribute ref="mdsol:LaboratoryType"/>
      <xs:attribute ref="mdsol:Submission"/>
      <!--Lock,Freeze,Verify added by request from a CRO-->
      <xs:attribute ref="mdsol:Lock" use="optional" />
      <xs:attribute ref="mdsol:Freeze" use="optional" />
      <xs:attribute ref="mdsol:Verify" use="optional" />
    </xs:attributeGroup>
    
    <!--ClinicalData Extensions Clinical Data-->
    <xs:attributeGroup name="ClinicalDataAttributeExtension">
      <xs:attributeGroup ref="ClinicalDataAttributeExtension"/>
      <xs:attribute ref="mdsol:StudyOIDType"/>
    </xs:attributeGroup>

    <!--Subject Data Element Extensions  Clinical Data-->
    <xs:group name="SubjectDataElementExtension">
      <xs:sequence>
      <xs:group ref="SubjectDataElementExtension"/>
      <xs:element ref="mdsol:Link" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:group>

    <!--Item Group Extensions Clinical Data-->
    <xs:attributeGroup name="ItemGroupDataAttributeExtension">
      <xs:attributeGroup ref="ItemGroupDataAttributeExtension"/>
      <xs:attribute ref="mdsol:Submission"/>
    </xs:attributeGroup>
      
    <!--Item Data attribute Extensions Clinical Data-->
    <xs:attributeGroup name="ItemDataAttributeExtension">
      <xs:attributeGroup ref="ItemDataAttributeExtension"/>
      <xs:attribute ref="mdsol:Lock" use="optional" />
      <xs:attribute ref="mdsol:Freeze" use="optional" />
      <xs:attribute ref="mdsol:Verify" use="optional" />
      <xs:attribute ref="mdsol:TranslatedValue" use="optional" />
      <xs:attribute ref="mdsol:SpecifyValue" use="optional" />
    </xs:attributeGroup>

    <!--Item Data Element Extensions  Clinical Data-->
    <xs:group name="ItemDataElementExtension">
      <xs:sequence>
        <xs:group ref="ItemDataElementExtension"/>
        <xs:element ref="mdsol:Review" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="mdsol:Query" minOccurs="0" maxOccurs="unbounded" />
        <!--<xs:element ref="mdsol:Sticky" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="mdsol:ProtocolDeviation" minOccurs="0" maxOccurs="unbounded" />-->
        <xs:element ref="mdsol:CodingData" minOccurs="0" maxOccurs="1" />
        <xs:element ref="mdsol:TranslatedData" minOccurs="0" maxOccurs="1" />
        <xs:element ref="mdsol:DictionaryData" minOccurs="0" maxOccurs="1" />
        <xs:element ref="mdsol:QueueItem" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:group>
    
    <!--ConditionDef Element Extensions-->
    <xs:group name="ConditionDefElementExtension">
      <xs:sequence>
        <xs:group ref="ConditionDefElementExtension"/>
        <xs:element ref="mdsol:EditCheck" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>

    <!--MethodDef Element Extensions-->
    <xs:group name="MethodDefElementExtension">
      <xs:sequence>
        <xs:group ref="MethodDefElementExtension"/>
        <xs:element ref="mdsol:Derivation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:group>
    
  </xs:redefine>
  
</xs:schema>

